*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 127, 73);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: rgb(30, 41, 2);
    box-shadow: 0 0 10px rgb(240, 255, 78);
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.199);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: rgb(245, 255, 207);
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('cover\ fb.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}
.main{
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(245, 255, 207); */
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    color: rgb(51, 68, 22);
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

/* About Section */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 450px;
    height: 450px
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    font-size: 20px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Portfolio Section */
#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
    
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 460px;
    margin: 10px;
}

/* Service Section */
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 400px;
    border: 1px solid rgb(118, 163, 54);
    margin: 20px;
    align-items: center;
    text-align: justify;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(189, 206, 114) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(251, 255, 0);
}
.box img{
    width: 80px;
    height: 80px;
    padding: 10px;
}

/* Contact Section */
#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: 1px solid rgb(118, 163, 54);
    outline: none;
}
#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: 1px solid rgb(118, 163, 54);
    outline: none;
}
#send{
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: 1px solid rgb(118, 163, 54);
    outline: none;
}
#send:hover{
    cursor: pointer;
    box-shadow: 0 0 10px rgb(240, 255, 78);
}
